{{> header }}



<div id="id">    
    <div class="container">

        {{#if user.id}}
            <h1 class="mb-5">Welcome back {{user.username}}</h1>
        {{else}}
            <h1 class="mb-5">Nearby Shops</h1>
        {{/if}}

        <div class="row">
            {{#each shops}}
            <div class="col-3">
                <div class="well">
                    <h5 class="card-title">{{this.name}}</h5>
                    <img src="{{this.image_path}}" class="card-img-top" alt="Shop image">

                    {{#if ../user.id}}
                        <div class="mt-3 mb-4">
                            <a href="/shop/like/{{../user.id}}" class="btn btn-primary">Like</a>
                            <a href="/shop/dislike/{{../user.id}}" class="btn btn-danger">Dislike</a> 
                        </div>
                    {{/if}}
                    
                </div>
            </div>
            {{else}}
                <p class="empty">No Shops Available</p>
            {{/each}}
        </div>



        


    </div>
</div>



{{> footer-end }}